<!DOCTYPE html>
<html lang="en">
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Table</th>
      </tr>
    </thead>

    {% for res in data %}
    {% set i=loop.index %}
                        <tbody>
                         <tr>
                        <td>bbb</td>
<!--                     <td><a href="{{url_for('view_tasks_for_worker', Name = row.name)}}" class="btn btn-primary btn-block"></a></td>-->
                        <td>Name = res</td>
                        </tr>
                        </tbody>
                {% endfor %}
   </table>

{% endblock %}
</html>
