<!DOCTYPE html>
<html lang="en">
  <table id="data" class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Table</th>
      </tr>
      {% for row in data %}
                         <tr>
                        <td>{{ row.Name }}</td>
                        <td>bbb</td>
<!--                     <td><a href="{{url_for('view_tasks_for_worker', Name = row.name)}}" class="btn btn-primary btn-block"></a></td>-->
                        </tr>
      {% endfor %}
   </table>

</html>
