<html>
    <head>
        <title>Upload Excel</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                </button>
                    <div id="navbar" class="navbar-collapse collapse">
                        <li><a href="{{ url_for('logout') }}" style="color: orange">Log Out</a></li>
                    </ul>
                     </div>
                </div>
            </div>
        </nav>
        <div class="col-md-offset-3 col-md-5" style="margin-top:50px">
            <form action="/upload_csv_files" method="POST" enctype="multipart/form-data">
                <h3 class="page-header text-primary" style="text-align:center; color: gray";>Input Tables</h3>
                 <div class="form-group">
                    <label>Upload Tasks File</label>
                    <input type="file" class="form-control" name="upload_tasks" value ="upload_tasks"  >
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload tasks File" class="btn btn-primary btn-block" style="background-color:orange">
                </div>
                <div class="form-group">
                    <label>Upload Workers File</label>
                    <input type="file" class="form-control" name="upload_workers" value ="upload_workers"  >
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload workers File" class="btn btn-primary btn-block" style="background-color:orange">
               </div>
            </form>
         </div>

            <div class="row">
            <div class="col-md-offset-3 col-md-5">
                <h3 class="page-header text-primary" style="color:gray"><span class="fa fa-image">  Click here to watch your tasks and workers</span></h3>
                 <table id="data" class="table table-striped">
                        <thead>
                            <tr>
                            <th>Category</th>
                            <th>File</th>
                        </tr>
                        </thead>
                      <tbody>
                        <tr>
                            <td>Tasks</td>
                            <td><a href="{{url_for('view_tasks')}}" class="btn btn-primary btn-block" style="background-color:orange"></a></td>


                        </tr>
                       <tr>
                            <td>Workers</td>
                            <td><a href="{{url_for('view_workers')}}" class="btn btn-primary btn-block" style="background-color:orange"></a></td>

                        </tr>
                    </tbody>
                 </table>
            </div>
        </div>

        <form action="/assign" method="POST">
            <div class="text-center">
            <button type="submit">Assign</button>
            </div>
        </form>
     <img src="static/img/logo_task.jpg" class="img-fluid" alt="">
    </body>
</html>
<script>
    $(document).ready(function(){
        $(".alert").hide(4000);
    });
</script>
