<html>
    <head>
        <title>Upload Excel</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
		        <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    </head>
    <body>
        <div class="col-md-offset-3 col-md-5" style="margin-top:50px">
            <form action="/ExcelUpload" method="POST" enctype="multipart/form-data">
                <h3 class="page-header text-primary">Upload Excel File</h3>
                 <div class="form-group">
                    <label>Browse CSV File</label>
                    <input type="file" class="form-control" name="uploadExcel">
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload Excel File" class="btn btn-primary btn-block">
                </div>
            </form>
         </div>
    </body>
</html>
<script>
    $(document).ready(function(){
        $(".alert").hide(4000);
    });
</script>